# IDE specific
.idea/
.vscode/
resources/
public/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

assets/jsconfig.json

# Hugo
.hugo_build.lock
go.mod
package-lock.json
package.json

to_delete*
go.mod
go.sum
