{{ $skills := .Site.Data.skills }}

<section id="skills">
  <h2 class="heading">{{ $skills.title }}</h2>
  {{ range $key_topic, $topic := $skills.topics }}
    <div class="topics">
    <span class="h5">{{ $key_topic }}</span>
    {{ range $key, $myskill := .skills }}
      <div class="skill">
        <span class="h6">{{ $key }}</span>
        <div class="progress" background-color="red">
          <div class="progress-bar progress-bar-striped active progress-bar-animated {{ $topic.color }}" role="progressbar" style="width: {{ $myskill }}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" background-color:red > </div>
        </div>
      </div>
    {{ end }}
  {{ end }}

</section>
